<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <label><%= f.radio_button :schooltype, "単発レッスン" %>単発レッスン</label>
  <label><%= f.radio_button :schooltype, "定期レッスン" %>定期レッスン</label>
  <label><%= f.radio_button :schooltype, "単発＆定期レッスン" %>単発＆定期レッスン</label>
  <div class="field">
    <%= f.label :title, 'スクール名' %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :body, '内容（200文字まで）' %>
    <%= f.text_area :body, :maxlength => "200", :size => "40*30" %>
  </div>

  <div class="field">
    <%= f.label :postcode, '〒' %>
    <%= f.text_field :postcode %>
  </div>

  <div class="field">
    <%= f.label :address, '所在地' %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :url, 'URL' %>
    <%= f.text_field :url %>
  </div>

  <div class="field">
    <%= f.label :interest_list, "カテゴリ（カンマ区切り）"%><br>
    <%= text_field_tag 'post[interest_list]', @post.interest_list.join(',') %>
  </div>

  <div class="field">
    <%= f.label :image, 'イメージ' %>
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
